language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
install:
  - pip install -r requirements.txt
  - pip install -r requirements-test.txt
script:
  - py.test
after_success:
  - codecov
services:
  - redis-server
